body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }
  
  main, .container-fluid {
    flex: 1;
  }

  .col{
    height: 100vh;
  }

  .navbar {
    padding: 0;
  }
  
  .navbar-nav {
    flex-direction: row;
  }
  
  .nav-link {
    padding: 10px;
    font-size: 14px;
  }

  #main {
    width: 500px;
    height: 500px;
    position: relative;
    overflow: hidden;
}

#main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/* Aplica blur na imagem de fundo */
.blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    z-index: 2;
    mask-image: radial-gradient(circle at 0 0, transparent 50px, black 50px); /* Configuração inicial */
    mask-repeat: no-repeat;
}

#seguidor {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    z-index: 3; /* Fica acima do blur */
    backdrop-filter: blur(0.12rem);
}
